.header{
    height: 100px;
    width:1900px;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    display:inline-block;

}
#bh1{
    height: 50px;
    width: 150px;
    background-color: rgb(255, 229, 31);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block;
    display: inline-flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
  
    color: black;
    vertical-align: top;
    
}
#bh2{
    height: 50px;
    width: 150px;
    background-color:rgb(158, 154, 154);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;   /* horizontal center */
    align-items: center;   
    color: #333;
    vertical-align: top;
}
#bh3{
    height: 50px;
    width: 400px;
    background-color: rgb(253, 253, 255);
    margin-top: 20px;
    margin-left: 1100px;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;   /* horizontal center */
    align-items: center;
    color: black;
    vertical-align: top;
   
}
.search{
    height: 100px;
    width:1900px;
    background-color: rgba(0, 0, 0, 0.00);
    margin-top: 15px;
    margin-left: 10px;
    display:inline-block;
    text-align: center;
}
input{
    height: 50px;
    width:1300px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border-color: rgb(44, 109, 198);

}
#inpu{
    display: inline-block;
}
#login{
  height: 50px;
    width: 120px;
    background-color: rgb(250, 248, 248);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    vertical-align: top; 
}
#more{
    height: 50px;
    width: 120px;
    background-color: rgb(250, 248, 248);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    vertical-align: top;  
}
#cart{
    height: 50px;
    width: 120px;
    background-color:rgb(250, 248, 248);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    vertical-align: top; 
}
.products{
    height: 100px;
    width:1900px;
    background-color: rgb(242, 242, 236);
    margin-top: 10px;
    margin-left: 10px;
    display:inline-block;
}
.b1{
    height: 50px;
    width: 60px;
    background-color: rgb(151, 36, 36);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top
}
.middle{
    height: 400px;
    width:1900px;
    background-color: rgb(242, 242, 242);
    margin-top: 10px;
    margin-left: 10px;
    display:inline-block;
}
.boxes{
    height: 300px;
    width: 500px;
    background-color: rgb(151, 36, 36);
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 30px;
    display: inline-block; 
    vertical-align: top
}
.popular{
    height: 200px;
    width:1900px;
    background-color: rgb(252, 253, 248);
    margin-top: 10px;
    margin-left: 10px;
    display:inline-block;
}
.p{
    height: 170px;
    width: 1800px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top 
}
.pic{
    height: 130px;
    width: 100px;
    background-color: rgb(151, 36, 36);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top
}