.header{
    height: 100px;
    width:1900px;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 10px;
    display:inline-block;

}
#bh1{
    height: 50px;
    width: 120px;
    background-color: rgb(239, 14, 14);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block;
}
#bh2{
    height: 50px;
    width: 120px;
    background-color: rgb(56, 218, 215);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block;
}
#bh3{
    height: 50px;
    width: 400px;
    background-color: rgb(53, 11, 203);
    margin-top: 20px;
    margin-left: 1100px;
    border-radius: 10px;
    display: inline-block;
}
.search{
    height: 100px;
    width:1900px;
    background-color: rgb(108, 220, 77);
    margin-top: 15px;
    margin-left: 10px;
    display:inline-block;
}
input{
    height: 50px;
    width:1300px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    
}
#inpu{
    display: inline-block;
}
#login{
  height: 50px;
    width: 120px;
    background-color: rgb(151, 36, 36);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top; 
}
#more{
    height: 50px;
    width: 120px;
    background-color: rgb(151, 36, 36);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top; 
}
#cart{
    height: 50px;
    width: 120px;
    background-color: rgb(151, 36, 36);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top; 
}
.products{
    height: 100px;
    width:1900px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 10px;
    display:inline-block;
}
.b1{
    height: 50px;
    width: 60px;
    background-color: rgb(151, 36, 36);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top
}
.middle{
    height: 400px;
    width:1900px;
    background-color: rgb(92, 155, 83);
    margin-top: 10px;
    margin-left: 10px;
    display:inline-block;
}
.boxes{
    height: 300px;
    width: 500px;
    background-color: rgb(151, 36, 36);
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 30px;
    display: inline-block; 
    vertical-align: top
}
.popular{
    height: 200px;
    width:1900px;
    background-color: rgb(193, 225, 29);
    margin-top: 10px;
    margin-left: 10px;
    display:inline-block;
}
.p{
    height: 170px;
    width: 1800px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top 
}
.pic{
    height: 130px;
    width: 100px;
    background-color: rgb(151, 36, 36);
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block; 
    vertical-align: top
}