       h2{
            color: rgb(0, 55, 251);
        }
        #link{
            color:blueviolet;
        }
        #table{
            border-color:chocolate;
        }
        #id1{
            color:rgb(0, 55, 251);
            font-family: Arial, Helvetica, sans-serif;
        }